POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=n
POSTGRES_HOST=
POSTGRES_PORT=
QDRANT_HOST=
QDRANT_PORT=
QDRANT_URL=
COLLECTION_NAME=
DENSE_MODEL_NAME=
SPARSE_MODEL_NAME=
MAX_ARTICLE_AGE_DAYS=
MAX_ARTICLES_PER_TOPIC=
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
DATASET_GENERATOR_MODEL=openai/gpt-4o-mini
RAG_GENERATOR_MODEL=deepseek/deepseek-chat-v3-0324
JUDGE_MODEL=google/gemini-2.5-flash
GUARDRAIL_MODEL=openai/gpt-4o-mini
RAG_GENERATOR_PROVIDER=
JUDGE_PROVIDER=
DATASET_GENERATOR_PROVIDER=
GUARDRAIL_PROVIDER=
