feedparser>=6.0.11
googlenewsdecoder>=0.1.7
trafilatura>=1.12.0
lxml_html_clean>=0.1.0
loguru>=0.7.2
psycopg2-binary>=2.9.9
qdrant-client>=1.9.1
sentence-transformers>=3.0.0
fastembed>=0.3.0
torch>=2.0.0
fpdf2>=2.7.9
google-api-python-client>=2.131.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
streamlit>=1.36.0
tiktoken>=0.7.0
mkdocs>=1.6.0
mkdocs-material>=9.5.27
fastapi>=0.111.0
uvicorn[standard]>=0.30.1
python-dotenv>=1.0.0
requests>=2.27.0
pdfplumber>=0.11.0
pandas>=2.2.0
ragas==0.2.15
langchain-community>=0.3,<0.4
deepeval>=2.0.0
pymupdf>=1.24.0
pytesseract>=0.3.10
pillow>=10.0.0
openai>=1.0.0
langchain-openai>=0.2.0
langchain-huggingface>=0.1.0
datasets>=2.19.0